@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
thead tr{ padding: 5px 10px;
    border-right: 1px solid grey;
    background-color:mediumpurple;
 

   
}
table{
     border: 1px solid grey;
     border-collapse: collapse;
     padding: 50px;
     text-align: left;
     font-family: "Roboto", sans-serif;
     width: 80%;
     margin: 0 auto;
}
    
th,  td{
  border: 1px solid grey;
}
  td{
 padding: 5px 10px;
       
}
 table tr:nth-child(even) {
    background-color: lightgray; /
}
 



.positive{
  color: green;
}
.negative{
  color: red;
}