@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
th{ padding: 5px 10px;
    border-right: 1px solid grey;
    background-color:mediumpurple;
 

   
}
table{
     border: 1px solid grey;
     border-collapse: collapse;
     padding: 50px;
     text-align: left;
     font-family: "Roboto", sans-serif;
     
}
      
  td{
 border-top: 1px solid grey;
 border-right: 1px solid grey;
 padding: 5px 10px;
       
}
 table tr:nth-child(even) {
    background-color: lightgray; /
}
 